* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    background-color: hsl(275, 100%, 97%);
    height: 120%;
    position: relative;
}

.hero-image {
    background-image: url("./assets/images/background-pattern-desktop.svg");
    width: 100%;
    height: 40vh;
}

.faq-section {
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    position: absolute;
    top: 15%;
    left: 25%;
    padding: 1rem;
    border-radius: 1rem;
}

.title {
    display: flex;
    padding: 0.5rem;
}

.title img {
    width: 2rem;
    margin-right: 0.5rem;
}

.title h1 {
    font-weight: 700;
}

.faqs {
    padding: 1rem;
}
.faqs h2 {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.faqs h2:hover {
    cursor: pointer;
    color: hsl(292, 16%, 49%);
}

.faqs p {
    font-weight: 400;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.faqs img {
    width: 1.2rem;
}

.box {
    box-shadow: 0px 1px 0px 0px #88888833;
}

.hide {
    display: none;
}

.show{
    display: block;
    box-shadow: 0px 1px 0px 0px #8888881b;
    padding-bottom: 20px;
    color: hsl(292, 16%, 49%);
}

@media (max-width: 375px){
    .hero-image{
        background-image: url("./assets/images/background-pattern-mobile.svg");
    }
}

@media screen and (max-width: 375px){
    .container {
        height: 150%;
    }
    .faq-section {
        width: 80%;
        left: 10%;
        top: 10%;
    }
    .faqs p {
        font-size: 0.65rem;
        padding: 0.4rem;
    }
}